:root {
  --color-primary-50: #fee8e3;
  --color-primary-100: #fcbbac;
  --color-primary-200: #fca491;
  --color-primary-300: #fb8e75;
  --color-primary-400: #fa775a;
  --color-primary-500: #f9603e;
  --color-primary-600: #f24822;
  --color-primary-700: #d82d07;
  --color-primary-800: #ac2405;
  --color-primary-900: #811b04;
  --color-secondary-50: #e3e8ff;
  --color-secondary-100: #acbaff;
  --color-secondary-200: #90a3ff;
  --color-secondary-300: #758cff;
  --color-secondary-400: #5975ff;
  --color-secondary-500: #3d5cff;
  --color-secondary-600: #2649f5;
  --color-secondary-700: #1038ff;
  --color-secondary-800: #001eb5;
  --color-secondary-900: #001788;
  --color-tertiary-50: #fff8db;
  --color-tertiary-100: #ffe992;
  --color-tertiary-200: #ffe26d;
  --color-tertiary-300: #ffdb49;
  --color-tertiary-400: #ffd324;
  --color-tertiary-500: #fc0;
  --color-tertiary-600: #ffb500;
  --color-tertiary-700: #ffa100;
  --color-tertiary-800: #ff8f00;
  --color-tertiary-900: #ff6d00;
  --color-gray-0: #fff;
  --color-gray-10: #f7f7f7;
  --color-gray-50: #f2f2f2;
  --color-gray-100: #e5e5e5;
  --color-gray-200: #d6d6d6;
  --color-gray-300: #bdbdbd;
  --color-gray-400: #a5a5a5;
  --color-gray-500: #808080;
  --color-gray-600: #616161;
  --color-gray-700: #424242;
  --color-gray-800: #333;
  --color-gray-900: #1a1a1a;
  --color-positive-50: #cdfbdb;
  --color-positive-100: #9ef8c1;
  --color-positive-200: #6aeba9;
  --color-positive-300: #44d89b;
  --color-positive-400: #36cf90;
  --color-positive-500: #00c389;
  --color-positive-600: #0ca483;
  --color-positive-700: #08897a;
  --color-positive-800: #056e6c;
  --color-positive-900: #03545b;
  --color-negative-50: #ffe0e7;
  --color-negative-100: #ffc3d0;
  --color-negative-200: #ffa0b5;
  --color-negative-300: #ff809a;
  --color-negative-400: #ff6484;
  --color-negative-500: #ff3861;
  --color-negative-600: #f12e56;
  --color-negative-700: #e51742;
  --color-negative-800: #d81840;
  --color-negative-900: #c11338;
  --color-info-50: #97b9ff;
  --color-info-100: #bfd4ff;
  --color-info-200: #a8c5ff;
  --color-info-300: #84a9ff;
  --color-info-400: #6690ff;
  --color-info-500: #36f;
  --color-info-600: #254edb;
  --color-info-700: #1939b7;
  --color-info-800: #102693;
  --color-info-900: #091a7a;
  --color-static-white: #fff;
  --color-static-black: #000;
  --color-static-cream: #fffaf2;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-full: 9999px;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-36: 36px;
  --font-size-48: 48px;
  --font-size-60: 60px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-family-default: 'A2z';
  --line-height-100: 1;
  --line-height-140: 1.4;
  --line-height-160: 1.6;
  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-70: 0.7;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
  --opacity-100: 1;
}
